/@types
node_modules/*
src/assets
*.svg
*.json
**/.storybook/*
*.md
**/start-local.mjs
dist
*.d.ts
.eslintrc.js
scripts
certificate
yarn.lock
*.html
*.css
jest.config.js
conf
**/assets/*
projects/CoffeeRun-old
projects/CoffeeRun-phaser/assets/*
